@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
body {
  @apply bg-slate-50 text-slate-900 dark:bg-zinc-950 dark:text-slate-50 transition-colors duration-300;
}

@theme {
  --color-hero-dark: #18191D;
  --color-hero2-dark: #18191D;
  --color-dark-void: #141416;
  --color-crypto-color: #121318;
  --color-line-color: #23262F;
  --color-input-field: #222630;
  --color-text-color: #777E90;
}
